.box-border{
    margin-top: 1rem;
    border: 1px solid #d6d5d5;
    padding: 2rem;
}
.box-border > h3{
    margin-top: 0px !important;
}
.form-control{
    margin-bottom: 2rem;
    font-size: 1.5rem !important;
}
.right{
    float: right;
}
.text-center{
    text-align: center;
}
.container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.error_msg{
    position: relative;
    bottom:1rem;
    color: #ff000f;
    font-size: 1.5rem;
}
.error{
    border: 1px solid #ff000f;
}
.right{
    float: right;
}
.left{
    float: left;
}
.close{
    right: 10px !important;
}
.btn-xs{
    margin-right: 1rem;
}
.h3, h3 {
    font-size: 2.75rem !important;
}
.btn{
    font-size: 1.5rem;
}
.table{
    font-size: 1.5rem;
}
.text-center{
    text-align: center;
}

  /* Popup Modal start */
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
    overflow: hidden !important;
  }
  .popup .content
  {
    overflow: hidden !important;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
/* Popup Modal end */

  input.ng-touched.ng-invalid{
    border: 1px solid red;
  }